<%= form_tag url, method: request_method do %>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <%= text_field_tag :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <label for="position" class="form-label">Position</label>
    <%= text_field_tag :position, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <label for="salary" class="form-label">Salary</label>
    <%= number_field_tag :salary, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <label for="date_of_birth" class="form-label">Date of Birth</label>
    <%= date_field_tag :date_of_birth, class: 'form-control' %>
  </div>

  <%= submit_tag "Submit", class: 'btn btn-primary' %>
<% end %>
